:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Manuale", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

body, button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 100vh;
  padding: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.headline {
  font-size: 9.6rem;
  text-align: right;
  grid-column: 1 / 2;
}

.title {
  font-size: 9.6rem;
  grid-column: 1 / 2;
}

.subtitle {
  width: fit-content;
  margin-left: auto;
  margin-right: 16px;
  font-size: 2.4rem;
  text-align: right;
  font-weight: 400;
  grid-column: 1 / 2;
  position: relative;
}

.subtitle::before {
  content: ".";
  width: 4px;
  height: 4px;
  position: absolute;
  left: -16px;
  top: 16px;
  display: inline-block;
  color: transparent;
  background-color: black;
  border-radius: 1px;
}

.subtitle::after {
  content: ".";
  width: 4px;
  height: 4px;
  position: absolute;
  right: -16px;
  top: 16px;
  display: inline-block;
  color: transparent;
  background-color: black;
  border-radius: 1px;
}

.paragraph {
  font-size: 2rem;
  grid-column: 1 / 2;
}
.paragraph_faded {
  opacity: .1;
}

.header__actions {
  margin: 0 auto;
  display: flex;
  gap: 32px;
  grid-column: 1 / 2;
}

.button {
  width: 134px;
  height: 36px;
  border-radius: 1px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: box-shadow .5s;
}

.button_primary {
  background-color: black;
  color: white;
  box-shadow: -6px 6px #2576E0;
}

.button_secondary {
  background-color: #fff;
  color: black;
  box-shadow: -6px 6px black;
}

.button:hover, .button:focus {
  box-shadow: -12px 12px #2576E0;
}

.picture-container {
  width: 450px;
  margin-left: auto;
  display: block;
  float: right;
  object-fit: cover;
  position: sticky;
  bottom: 0;
}

.section {
  height: 100vh;
  padding: 32px;
}

.section_split {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.label-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  grid-column: 1 / 2;
  transition: opacity .5s;
}

.label-container_mt {
  margin-top: 12px;
}

.label-container_faded {
  opacity: .1;
}

.label {
  width: 110px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
}

.title-container {
  margin-bottom: 2px;
  width: 100%;
  height: 64px;
  padding: 12px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  overflow: hidden;
}

.project-title {
  width: 200px;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all .3s;
  opacity: .5;
  position: absolute;
  left: calc(50% - 100px);
}

.project-title:hover {
  opacity: 1;
  cursor: pointer;
}

.project-title_selected {
  opacity: 1;
}

.project-title_selected:hover {
  opacity: 1;
  cursor: default;
}

.project-title:last-child {
  padding-right: 800px;
}

.image-container {
  margin: 6px 0;
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 620px;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  left: calc(50% - 310px);
  transition: all .3s;
  aspect-ratio: 16 / 9;
  filter: grayscale(1);
}

.project-image:hover {
  filter: none;
  cursor: pointer;
}

.project-image_selected {
  filter: none;
}

.project-image_selected:hover {
  cursor: auto;
}

.project-image_slide-from-right {
  animation-name: slide-from-right;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes slide-from-right {
  0% {
  }

  50% {
    transform: translateX(900px);
  }

  100% {
    transform: none;
  }
}

.project-image__desktop {
  padding: 4px;
  background-image: linear-gradient(to left, #777, #333 25%);
  border-radius: 4px;
}

.project-image__mobile {
  width: 110px;
  height: 220px;
  padding: 1px;
  background-image: linear-gradient(silver, #444);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: -10px;
}

.link-container {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.link-container_faded {
  opacity: .1;
}

.link {
  font-size: 1.6rem;
  color: #222;
  font-weight: 500;
}

.link:hover {
  color: black;
}

.mosaic {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 2px;
  height: 85%;
}

.mosaic__picture {
  border-radius: 1px;
  filter: blur(3px);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
}

.mosaic__picture:hover {
  filter: none;
  box-shadow: 0 0 12px white;
}

.mosaic__picture_portrait {
  height: 400px;
  width: 250px;
  aspect-ratio: 9/6;
}

.mosaic__picture_landscape {
  aspect-ratio: 3/2;
  width: 400px;
}

.mosaic__picture_1 {
  background-image: url('assets/mosaic_1.png');
  left: 10px;
  transform: rotate(-10deg);
}

.mosaic__picture_2 {
  background-image: url('assets/mosaic_2.png');
  left: 350px;
  transform: rotate(-5deg);
}

.mosaic__picture_3 {
  background-image: url('assets/mosaic_3.png');
  right: 0;
}

.mosaic__picture_4 {
  background-image: url('assets/mosaic_4.png');
  left: 100px;
  bottom: -100px;
}

.mosaic__picture_5 {
  background-image: url('assets/mosaic_5.png');
  left: 350px;
  bottom: 0;
  transform: rotate(-15deg);
}

.mosaic__picture_6 {
  background-image: url('assets/mosaic_6.png');
  right: 250px;
  bottom: 0;
  transform: rotate(5deg);
}

.mosaic__picture_7 {
  background-image: url('assets/mosaic_7.png');
  right: 10px;
  bottom: 20%;
  transform: rotate(10deg);
}

.mosaic__text {
  width: 600px;
  height: 300px;
  padding: 8px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 300px);
  background-color: rgba(250, 250, 250, .6);
  box-shadow: -6px 6px black;
}