:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Manuale", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

body, button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 100vh;
  padding: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.headline {
  font-size: 9.6rem;
  text-align: right;
  grid-column: 1 / 2;
}

.title {
  font-size: 9.6rem;
  grid-column: 1 / 2;
}

.subtitle {
  width: fit-content;
  margin-left: auto;
  margin-right: 16px;
  font-size: 2.4rem;
  text-align: right;
  font-weight: 400;
  grid-column: 1 / 2;
  position: relative;
}

.subtitle::before {
  content: ".";
  width: 4px;
  height: 4px;
  position: absolute;
  left: -16px;
  top: 16px;
  display: inline-block;
  color: transparent;
  background-color: black;
  border-radius: 1px;
}

.subtitle::after {
  content: ".";
  width: 4px;
  height: 4px;
  position: absolute;
  right: -16px;
  top: 16px;
  display: inline-block;
  color: transparent;
  background-color: black;
  border-radius: 1px;
}

.paragraph {
  font-size: 2rem;
  grid-column: 1 / 2;
}
.paragraph_faded {
  opacity: .1;
}

.header__actions {
  margin: 0 auto;
  display: flex;
  gap: 32px;
  grid-column: 1 / 2;
}

.button {
  width: 134px;
  height: 36px;
  border-radius: 1px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: box-shadow .5s;
}

.button_primary {
  background-color: black;
  color: white;
  box-shadow: -6px 6px #2576E0;
}

.button_secondary {
  background-color: #fff;
  color: black;
  box-shadow: -6px 6px black;
}

.button:hover, .button:focus {
  box-shadow: -12px 12px #2576E0;
}

.picture-container {
  width: 450px;
  margin-left: auto;
  display: block;
  float: right;
  object-fit: cover;
  position: sticky;
  bottom: 0;
}

.section {
  height: 100vh;
  padding: 32px;
}

.section_split {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.label-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  grid-column: 1 / 2;
  transition: opacity .5s;
}

.label-container_mt {
  margin-top: 12px;
}

.label-container_faded {
  opacity: .1;
}

.label {
  width: 110px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
}

.project-titles {
  padding: 32px 12px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.project-titles::before {
  content: ".";
  color: transparent;
  width: 2px;
  left: calc(50% - 2px);
  top: 0;
  height: 12px;
  position: absolute;
  background-color: black;
}

.project-titles::after {
  content: ".";
  color: transparent;
  width: 2px;
  left: calc(50% - 2px);
  bottom: 0;
  height: 12px;
  position: absolute;
  background-color: black;
}

.project-title {
  font-size: 2.8rem;
  font-weight: 500;
  width: 200px;
  position: absolute;
  bottom: 16px;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  left: calc(50% - 100px);
  transition: all .3s;
}

.project-title_center::before {
  content: ".";
  width: 4px;
  height: 4px;
  position: absolute;
  left: -32px;
  top: 16px;
  display: inline-block;
  color: transparent;
  background-color: black;
  border-radius: 1px;
}

.project-title_center::after {
  content: ".";
  width: 4px;
  height: 4px;
  position: absolute;
  right: -32px;
  top: 16px;
  display: inline-block;
  color: transparent;
  background-color: black;
  border-radius: 1px;
}


.project-title_left {
  opacity: .4;
  transform: translateX(-540px);
  transition: all .2s;
}

.project-title_right {
  opacity: .4;
  transform: translateX(540px);
  transition: all .2s;
}

.project-title_left:hover, .project-title_right:hover {
  opacity: 1;
  cursor: pointer;
}

.project-covers {
  margin: 12px 0 16px;
  border: 1px dashed black;
  width: 100%;
  height: 50%;
  position: relative;
}

.project-cover {
  width: 500px;
  border-radius: 8px;
  position: absolute;
  bottom: 48px;
  left: calc(50% - 250px);
  transition: all .3s;
}

.cover {
  width: 100%;
  height: 100%;
}

.project-cover_center {
  transform: scale(1.07);
  z-index: 10;
}

.project-cover_left {
  filter: grayscale(1);
  transform: rotate(-5deg) translate(-120px, 20px) scale(.8);
  z-index: 0;
}

.project-cover_right {
  filter: grayscale(1);
  transform: rotate(5deg) translate(120px, 20px) scale(.8);
  z-index: 0;
}

.project-cover_left:hover, .project-cover_right:hover {
  cursor: pointer;
  filter: none;
}

.project-cover__desktop {
  padding: 4px;
  background-image: linear-gradient(to left, #777, #333);
  border-radius: 4px;
  aspect-ratio: 16 / 9;
  position: absolute;
  bottom: 0;
}

.project-cover__mobile {
  width: 110px;
  height: 220px;
  padding: 1px;
  background-image: linear-gradient(silver, #444);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: -10px;
}

.link-container {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.link-container_faded {
  opacity: .1;
}

.link {
  font-size: 1.6rem;
  color: #222;
  font-weight: 500;
}

.link:hover {
  color: black;
}