:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Manuale", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body, button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 100vh;
  padding: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.headline {
  font-size: 9.6rem;
  text-align: right;
  grid-column: 1 / 2;
}

.title {
  font-size: 9.6rem;
  text-align: right;
  grid-column: 1 / 2;
}

.subtitle {
  font-size: 2.4rem;
  text-align: right;
  font-weight: 400;
  grid-column: 1 / 2;
}

.paragraph {
  font-size: 2rem;
  grid-column: 1 / 2;
}

.header__actions {
  margin: 0 auto;
  display: flex;
  gap: 32px;
  grid-column: 1 / 2;
}

.button {
  width: 134px;
  height: 36px;
  border-radius: 1px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: box-shadow .5s;
}

.button_primary {
  background-color: black;
  color: white;
  box-shadow: -6px 6px #2576E0;
}

.button_secondary {
  background-color: #fff;
  color: black;
  box-shadow: -6px 6px black;
}

.button:hover, .button:focus {
  box-shadow: -12px 12px #2576E0;
}

.picture-container {
  width: 450px;
  margin-left: auto;
  display: block;
  float: right;
  object-fit: cover;
  position: sticky;
  bottom: 0;
}

.picture {
  width: 100%;
  height: 100%;
}

.section {
  height: 100vh;
  padding: 32px;
}

.section_split {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.label-container {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  gap: 12px;
  grid-column: 1 / 2;
}

.label {
  width: 96px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  background-color: black;
  color: white;
  font-size: 1.6rem;
}