:root {
  font-size: 62.5%;
  color: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

body, button, a {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-color: transparent;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none; 
  overflow-y: scroll;
}

.header {
  scroll-snap-align: start;
  width: 100%;
  min-height: 100vh;
  display: grid;
}

.header__title {
  width: fit-content;
  justify-self: center;
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
}

.header__title_secondary {
  width: fit-content;
  display: block;
  padding: 0 10px 4px;
  font-size: 2.4rem;
  background-color: #111;
  color: white;
}

.header__title_left {
  margin-bottom: -1.6rem;
}

.header__title_right {
  margin-top: -1rem;
  justify-self: end;
}

.header__subtitle {
  margin-top: 2rem;
  height: fit-content;
  width: 100%;
  max-width: 670px;
  padding: 6px 0;
  border-radius: 1px;
  align-self: center;
  justify-self: center;
  align-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 3.2rem;
  color: #fff;
  background-color: #111;
}

.header__paragraph {
  margin: 16px 0;
  padding: 0 16px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

.header__actions {
  margin: 16px 0;
  display: flex;
  justify-content: space-around;
}

.header__picture {
  width: 89%;
  height: 45vh;
  justify-self: center;
  border-radius: 2px;
  position: relative;
  transform: rotate(2deg);
}

.header__picture::before {
  margin-top: 8px;
  margin-left: -4px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #111;
  content: " ";
  color: transparent;
  position: absolute;
  transform: rotate(-2deg);
  z-index: -10;
}

.picture {
  object-fit: cover;
  object-position: center 15%;
}

.button {
  width: 160px;
  height: 40px;
  border: 2px solid #111;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: box-shadow .5s;
}

.button_primary {
  color: white;
  background-color: #111;
  box-shadow: -6px 6px #2576E0;
}

.button_secondary {
  color: #111;
  background-color: #fff;
  box-shadow: -6px 6px #111;
}

.button:hover, .button:focus {
  box-shadow: -12px 12px #2576E0;
}

.section {
  min-height: 100vh;
  padding: 0 12px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.section_centered {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.section__flex {
  padding: 12px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.section__bg {
  width: 100%;
  height: 38vh;
  position: relative;
  display: inline-block;
}

.section__bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #111;
  transform: rotate(-2deg);
  position: absolute;
  left: 0;
}

.section__bg::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-image: url('assets/desk_portrait.webp');
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: cover;
  transform: rotate(2deg);
  transition: filter 1s;
  filter: grayscale(1);
  position: absolute;
  left: 0;
}

.section__bg:hover::after {
  filter: none;
}

.section__text {
  width: 100%;
}

.section__title {
  height: 6rem;
  font-size: 4.4rem;
  font-weight: 600;
}

.project-description {
  padding: 12px;
  height: 14vh;
  display: grid;
  align-content: space-between;
  padding-bottom: 32px;
}

.project-description_faded {
  opacity: .1;
}

.project-title-container {
  width: 100%;
  min-width: 180px;
  position: relative;
  overflow: hidden;
}

.project-title {
  width: 100%;
  height: 30px;
  font-size: 2rem;
  font-weight: 500;
  text-align: right;
  text-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all .3s;
  opacity: .5;
}

.project-title:hover {
  opacity: 1;
  cursor: pointer;
}

.project-title_selected {
  background-color: #e7e7e7;
  font-size: 2.4rem;
  opacity: 1;
  position: relative;
}

.project-title_selected:hover {
  opacity: 1;
  cursor: default;
}

.project-title_selected::before {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 10px;
  border-radius: 1px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #111; 
}

.project-image-container {
  width: 100%;
  height: 42vh;
  margin-top: 12px;
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all .3s;
  filter: grayscale(1);
}

.project-image:hover {
  filter: none;
  cursor: pointer;
}

.project-image_selected {
  filter: none;
  cursor: auto;
}

.project-image_selected:hover {
  cursor: auto;
}

.project-image_slide-from-right {
  animation-name: slide-from-right;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.project-image__desktop {
  width: 90%;
  max-width: 440px;
  height: 99%;
  max-height: 286px;
  border-radius: 4px;
  padding: 2px;
  background-image: linear-gradient(#444, silver);
   position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

.project-image__mobile {
  width: 140px;
  height: 98%;
  max-height: 270px;
  border-radius: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.label-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  grid-column: 1 / 2;
  transition: opacity .5s;
}

.label-container_faded {
  opacity: .1;
}

.label {
  width: 104px;
  height: 24px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: white;
  font-size: 1.6rem;
}

.section__picture {
  width: 50%;
}

.section__links {
  display: grid;
  gap: 12px;
  overflow: hidden;
}

.section__link {
  width: 300px;
  height: 48px;
  padding-left: 48px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: #111;
  gap: 16px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 32px;
}

.section__link:hover {
  text-decoration: underline;
}

.email {
  margin-top: 32px;
  padding-left: 48px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 32px;
  background-image: url('https://img.icons8.com/?size=100&id=pJJmXPomYuPv&format=png&color=000000');
}

.section__link_linkedin {
  animation-delay: 4s;
  background-image: url('https://img.icons8.com/?size=100&id=8808&format=png&color=000000');
}

.section__link_github {
  animation-delay: 5s;
  background-image: url('https://img.icons8.com/?size=100&id=RHLuYrY4GjUv&format=png&color=000000');
}

.section__link_goodreads {
  animation-delay: 6s;
  background-image: url('https://img.icons8.com/?size=100&id=eRXAEL4Ekpjt&format=png&color=000000');
}

.link-container {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 12px;
  height: 6vh;
}

.link-container_faded {
  opacity: .1;
}

.link {
  font-size: 1.6rem;
  color: #111;
  font-weight: 500;
}

.link:hover {
  color: #111;
}

@media (orientation: landscape) {

  .project-image {
    left: 0;
    height: 100%;
    width: 100%;
  }

  .project-image__desktop {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .project-image__mobile {
    display: none;
  }

}

@media (min-width: 576px) {

  .header__title {
    font-size: 11.8rem;
  }

  .header__title_secondary {
    font-size: 2.8rem;
  }

  .header__title_left {
    margin-bottom: -2.8rem;
  }

  .header__title_right {
    margin-top: -1.4rem;
  }

  .project-image {
    width: 100%;
  }

  .project-image__mobile {
    height: 98%;
    max-height: 270px;
    width: 140px;
    display: block;
  }

  .project-image__desktop {
    width: 98%;
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .header__title {
    font-size: 16rem;
  }

  .header__title_secondary {
    font-size: 3rem;
  }

  .flex-container {
    display: flex;
    height: 85vh;
  }

  .project-container {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  .project-title-container {
    width: 14%;
    padding-top: 28px;
  }

  .project-image-container {
    height: 70vh;
  }

  .project-image {
    height: 100%;
    width: 80%;
    top: 0;
  }
  
  .project-image__desktop {
    height: 98%;
    max-height: 500px;
    min-width: 100%;
    padding: 4px;
    border-radius: 4px;
    display: block;
    background-image: linear-gradient(to left, #bbb, black);
  }

  .project-image__mobile {
    width: 35%;
    max-width: 190px;
    height: 98%;
    max-height: 440px;
    position: absolute;
    left: 0;
    bottom: 0;
    left: 12px;
  }

}

@media (min-width: 992px) {

  body, button, a {
    font-size: 2rem;
  }

  .header {
    height: 100vh;
    padding: 32px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .header__title {
    font-size: 14rem;
  }
  
  .header__subtitle {
    grid-column: 1 / 2;
  }

  .header__actions {
    margin-right: 16px;
    align-self: end;
    justify-content: end;
    gap: 40px;
  }

  .header__picture {
    width: 100%;
    height: auto;
    padding-left: 12px;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    max-width: 450px;
  }

  .picture {
    margin-left: auto;
  }

  .section__bg {
    height: 70vh;
  }

  .section__flex {
    flex-direction: row;
  }

  .section__title {
    height: 15vh;
    font-size: 7rem;
  }

  .label {
    width: 120px;
    height: 32px;
    font-size: 1.8rem;
  }

}

@keyframes slide-from-right {
  0% {
  }

  50% {
    transform: translateX(900px);
  }

  100% {
    transform: none;
  }
}

