:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Manuale", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body, button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.section {
  height: 100vh;
}

.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header__text {
  padding: 32px;
  display: grid;
}

.headline {
  font-size: 9.6rem;
  text-align: right;
}

.subtitle {
  font-size: 2rem;
  text-align: right;
}

.quote {
  font-size: 2rem;
  font-style: italic;
}

.button-container {
  margin: 0 auto;
  display: flex;
  gap: 32px;
}

.button {
  width: 134px;
  height: 36px;
  border-radius: 1px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: box-shadow .5s;
}

.button_primary {
  background-color: black;
  color: white;
  box-shadow: -6px 6px #2576E0;
}

.button_secondary {
  background-color: #fff;
  color: black;
  box-shadow: -6px 6px black;
}

.button:hover, .button:focus {
  box-shadow: -12px 12px #2576E0;
}

.header__picture {
  align-self: end;
}

.picture {
  width: 100%;
  object-fit: cover;
}

